@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap');


#history-text{
    color: #47A2FC;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 20px;
}
#flosa-logo {
    border: 3px solid #47A2FC;
  }