@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Open+Sans:wght@400;500;700&display=swap");

.header {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 53px;
  line-height: 72px;

  color: #000000;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-align: right;
  color: #ffffff;
}
.background {
  background-image: radial-gradient(
    rgba(71, 161, 252, 0.79),
    rgba(12, 44, 80, 0.81)
  );
}
