.homepageMainContainer {
  padding-left: 0;
  padding-right: 0;
}

.mainHeadings-homepage {
  font-size: 40px;
  font-weight: 600;
  color: #47a2fc;
  text-align: center;
}

.theHubSubSection {
  padding: 7% 0;
  text-align: center;
}

.theHubDescription {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

.mobileIcon,
.webAppsIcon,
.softwareEngIcon {
  font-size: 45px;
  margin-top: 3%;
}

#ourServiceHeading {
  margin-bottom: 3%;
}

.serviceMainBox {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.serviceSubBox {
  width: 94%;
  background-color: #c4c4c4;
  padding: 4%;
}

.serviceDescription {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

.serviceHeading {
  font-family: sans-serif;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 3%;
  color: #000000;
}

.servicesMainSection {
  margin-bottom: 6%;
}

.reachUsMainSection {
  background-color: black;
}

.reachUsDescription {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 28px;
  color: white;
}
.phone1Link-reachUs,
.phone2Link-reachUs,
.whatsappLink-reachUs,
.emailLink-reachUs {
  font-family: sans-serif;
  color: #000000;
}

.reachUsSubSection {
  margin: 2% 0;
}

.phoneContactsMainContainer {
}

.procjectsMainSection {
  padding: 5% 0;
}

.wishesImage {
  width: 40vw;
}

.projectsOminiContainer {
  background-color: rgba(202, 202, 202, 0.46);
}
.projectSection {
  margin: 5% 0;
  display: flex;
  justify-content: center;
}
.projectImageContainer {
  margin: 3% 0;
}

.viewMoreButton {
  width: fit-content;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #47a2fc;
  border-radius: 5px;
}

.viewMoreButtonContainer {
  justify-content: center;
}

.quoteMainSection {
  margin: 5% 0;
}

.quotesFormLabelText {
  font-size: 21px;
  color: white;
  margin-bottom: 0;
}

.quotesFormsControl {
  margin-bottom: 7%;
}

.requestQuoteSubContainer {
  background-color: #0c2c51;
  padding: 4% 3%;
  border-radius: 8px;
}

.reachUsButton-phoneOne {
  background-color: #d2042d;
  border-style: none;
  margin: 4% 0;
}
.reachUsButton-phoneTwo {
  background-color: #1520a6;
  border-style: none;
  margin: 4% 0;
}
.reachUsButton-whatsapp {
  background-color: #25d366;
  border-style: none;
  margin: 4% 0;
}
.reachUsButton-email {
  margin: 4% 0;
  background-color: #c4c4c4;
  border-style: none;
}

.phone1Link-reachUs,
.phone2Link-reachUs,
.whatsappLink-reachUs,
.emailLink-reachUs {
  text-decoration: none;
  color: black;
}

.icons-reachUs {
  margin-right: 4px;
}

.phoneOneMainContainer-reachUs {
  display: flex;
  justify-content: center;
}


