@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@media (max-width: 1199px) {
}

/* Homepage menu item styling*/
.homepageMenu:active {
  color: rgb(3, 40, 248);
  border-radius: 8px;
  height: 40px;
}

/*Navigation Bar styling*/
.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.navbar-light .navbar-nav .nav-link:focus,
/* .navbar-light .navbar-nav .nav-link:hover */
.navbar-light .navbar-nav .nav-link:active {
  /* color: rgba(14, 13, 13, 0.7) !important; */
  /* background-color: rgb(173, 163, 154); */
  color: rgb(3, 40, 248);
  border-radius: 8px;
  height: 40px;
  /* transform: scale(.8); */
}
.fixed-top {
  background-color: #fdfcfa !important;
  /* min-width:1000px; */
  width: 100%;
}

.fixed-top {
  background-color: #fdfcfa !important;
  /* min-width:1000px; */
  width: 100%;
}

#navb {
  margin-left: -8px !important;
  padding-left: -8px !important;
}
.navright {
  float: right !important;
  display: flex;
  flex-direction: row;
}
.navright li {
  /* display: inline-block; */
  /* line-height: -18px; */
  font-size: 18px;
  padding-left: 25px;
  margin-left: 8px;
  margin-right: 40px;
  padding-top: 10px;
}
.justify-content-center {
  justify-content: right !important;
  padding-top: 30p;
}
/*Social media on Navigation Bar*/
.social-side {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  justify-content: right !important;
  align-items: center;
  margin-right: 0;
}
li {
  margin-right: 8px;
  /* background: red; */
  cursor: pointer;
  /* align-items: center; */
  /* justify-content: center; */
  /* list-style: none; */
  border-radius: 50%;
}
li :hover {
  transform: scale(0.8);
}
