@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap');

#head-text{
    font-family: 'Open Sans', sans-serif;
    color: #47A2FC;
}
#tech-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
}